

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32344d;
    color: white;
    padding: 1.1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav a {
    margin-left: 1.5rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

header nav a:hover {
    color: #007BFF;
    text-decoration: underline;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
    background-color: #f9f9f9;
}

.hero-text {
    flex: 1;
    padding: 1rem 2rem;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #007BFF;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #555;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.info {
    text-align: center;
    padding: 3rem 2rem;
    background-color: #f4f4f4;
}

.info h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #007BFF;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.column p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.quote {
    background-color: #32344d;
    color: white;
    padding: 2rem;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

.video {
    padding: 2rem;
    text-align: center;
}

.video video {
    max-width: 60%;
    border-radius: 8px;
    margin: 1rem auto;
}

.cta {
    background-color: #32344d;
    color: white;
    padding: 2rem;
    text-align: center;
}

.cta .button {
    padding: 0.75rem 1.5rem;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta .button:hover {
    background-color: #324d4c;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

@media (max-width: 765px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        margin-top: 2rem;
    }

    .row {
        grid-template-columns: 2fr;
    }
}
